:root {
  --sidebar-width: 4rem;
}

[data-id="main"] {
  padding-top: 0px;
  padding-right: 16px;
  padding-bottom: 0px;
  padding-left: 0px;
  font-size: 0.8rem;
  float: left;
}

h1 {
  text-transform: capitalize;
  color: #2B2D2F;
  font-weight: 600;
}

.aside h2 {
  font-weight: 500;
  font-size: 1rem;
  color: #FFFFFFFF;
}

.aside p {
  color: #FFFFFFFF;
}

.aside a {
  color: rgb(255, 247, 180) !important;
}

.aside {
  background-color: rgba(255, 227, 200,0);
  padding-top: 0px;
  padding-right: 7px;
  padding-bottom: 0px;
  padding-left: 15px;
  font-size: 0.8rem;
  float: left;
  float: left;
}

[data-id="disclaimer"] {
  position: absolute;
  bottom: 0;
  right: var(--sidebar-horizontal-padding);
  font-size: 0.75rem;
  font-style: italic;
  line-height: 1;
  color: #777;
  padding-left: 15px;
  margin-right: -15px;
  text-align: left;
}

a {
  color: #1DA1F2;
  font-weight: 475;
}

.aside .level2 {
  margin-top: 0.05in;
}

.pagedjs_first_page {
  --sidebar-background-color: #2B2D2F;
  --sidebar-width: 12rem;
  --main-width: calc(var(--content-width) - var(--sidebar-width)) !important;
  --pagedjs-margin-top: 0.9in ! important;
}

.pagedjs_page {
  --pagedjs-margin-right: 0.05in !important;
  --sidebar-background-color: #2B2D2F;
}

#overlay {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: #ffffff;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% {
      transform: perspective(120px) rotateX(0deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 50% {
      transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  } 100% {
      transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
      -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

.fa-gmail {
  content: url('../assets/images/gmail.svg');
  height: 1em;
  width: auto;
}
